@use "../../../scss/variables" as var;

.all-vedeos-box-container {
    margin: 7px 0 12px 0;
    .vedeos-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 350px);
        grid-template-rows: 250px;
        gap: 20px 20px;
        .all-video {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 12px 0 12px 0;
            iframe {
                border-radius: var(--size-1);
            }
        }
    }
}

.dropdown-list {
    // display: flex;
    justify-content: end;
    position: sticky;
    top: 115px;
    z-index: 1028;
    .search-wrapper {
        background-color: #ebedef;
    }
}

@media screen and (max-width: var.$media-query-min-width-sm) {
    .all-vedeos-box-container {
        margin: 7px 13px 12px -10%;
        .vedeos-grid {
            display: block;
            .all-video {
                display: flex;
                justify-content: center;
                height: 18vh;
                aspect-ratio: none !important;
                iframe {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .dropdown-list {
        display: block;
        width: 100%;
        position: sticky;
        top: 112px;
        z-index: 1028;
    }
}

@media screen and (max-width: var.$media-query-min-width-xs) {

}
