// Variable overrides
$primary: #2DBEF0;
$secondary: #5acfc7;
$dark: #858788;
$darker: #575757;

/**
* media width
*/
$media-query-min-width-xs: 0px;
$media-query-min-width-sm: 576px;
$media-query-min-width-md: 768px;
$media-query-min-width-lg: 992px;
$media-query-min-width-xl: 1200px;

/**
 * z-index
 */
 $z-index-progress-bar: 990;
 $z-index-navbar: 999;
 $z-index-popover: 1060;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
  "dark":       $dark,
  "darker": $darker
);

:root {
    --main-gradient-color: linear-gradient(to right,var(--secondary),var(--primary));
    --main-deepest-color: var(--primary);
}
